/.pytest_cache
/git_test
/домашка 3я
/домашка занятие 2е
/домашка занятия 1е
/параша рандомная
домашка занятие 5/__pycache__/string_util.cpython-311.pyc
домашка занятие 5/__pycache__/test_string_utils.cpython-311-pytest-7.3.1.pyc
